POSTGRES_DB=pdfwizard
POSTGRES_USER=pdfwizard
POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password

MINIO_ROOT_USER=pdfwizard
MINIO_BUCKET=pdf-documents

MP_MAX_MESSAGES=500
MP_DATABASE=/data/mailpit.db

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/pdfwizard
SPRING_DATASOURCE_USERNAME=pdfwizard
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_MAIL_HOST=mailpit
SPRING_MAIL_PORT=1025
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=false
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=false
PDF_WIZARD_MAIL_FROM=no-reply@pdfwizard.local
PDF_WIZARD_STORAGE_MINIO_ENDPOINT=http://minio:9000
PDF_WIZARD_STORAGE_MINIO_ACCESS_KEY=pdfwizard
PDF_WIZARD_STORAGE_MINIO_BUCKET=pdf-documents
JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0
